body { 
    margin:0;
    padding:0;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    font-family: Nunito;
  }
  .AddMore{
    font-size: 20px !important;
    font-weight: 700 !important;
    padding: 9px 39px !important;
    border: 0 !important;
    border-radius: 0 !important;
    color: #fff !important;
    border: 1px solid #fff !important;
  }
  .CneterButton{

    text-align: center;
  }