@import url(https://fonts.googleapis.com/css?family=Nunito);
:root{
--min-height:100vh;
--padding-t-b:25vh;
--padding-t-25:25px;
--font-22:22px;
--p-10-15:10px 15px;
}
html {
  height: 100%;
  overflow: hidden;
}

.body-a { 
  margin:0;
  padding:0;
	perspective: 1px;
	transform-style: preserve-3d;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
 /* font-family: Nunito;*/
 font-family: sans-serif;
}

.body-a p {
  font-size: 110%;
  line-height: 150%;
  color: #333;
}

.body-a .slide {
  position: relative;
  /*padding: 25vh 10%;*/
 /* min-height: 100vh;*/
  width: 100vw;
  box-sizing: border-box;
  box-shadow: 0 -1px 10px rgba(0, 0, 0, .7);
	transform-style: inherit;
}

.body-a #slide2 img {
  position: absolute;
  top: 50%;
  left: 35%;
  width: 320px;
  height: 240px;
  transform: translateZ(.25px) scale(.75) translateX(-94%) translateY(-100%) rotate(2deg);
  padding: 10px;
  border-radius: 5px;
  background: rgba(158, 255, 2, 0.7);
  box-shadow: 0 0 8px rgba(0, 0, 0, .7);
}

.body-a #slide2 img:last-of-type {
  transform: translateZ(.4px) scale(.6) translateX(-104%) translateY(-40%) rotate(-5deg);
}

.body-a .slide:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 8px 1px rgba(0, 0, 0, .7);
}

.body-a .title {
  width: 50%;
  padding: 5%;
  border-radius: 5px;
  background: rgba(19, 19, 19, 0.7);
  box-shadow: 0 0 8px rgba(0, 0, 0, .7);
  min-height: var(--min-height);
}

.title-x h1{
    color: #76ff03;
    font-size: var(--font-22);
    padding:15px 0px;
}
.title-x p{
  color: #aaa;  
  line-height: 35px;
}
.title-y{
    background: rgba(19, 19, 19, 0.7);
    padding:10px 20px;
    margin: 8px;
}
.title-y h1{
    color: #76ff03;
    font-size:var(--font-22);
}
.title-y p{
  color: #aaa;
  font-size: 18px;
}
.title-y.container div{margin:0px !important}
.body-a .title h1{
    color: #76ff03;
    font-size:var(--font-22);
}
.body-a .title p{
  color: #aaa;  
  line-height: 33px;
  margin-top: 30px;
}



.body-a .slide:nth-child(2n) .title {
  margin-left: 0;
  margin-right: auto;
}

.body-a .slide:nth-child(2n+1) .title {
  margin-left: auto;
  margin-right: 0;
}

.body-a .slide, .slide:before {
  background: 50% 50% / cover;  
}

.body-a .header {
  text-align: center;
  font-size: 175%;
  color: #fff;
  text-shadow: 0 2px 2px #000;
}

.body-a #title {
  background-image: url(../img/shot_1.jpg);
  z-index:2;
  padding:var(--padding-t-b) 0px;
}

.body-a #title div {
 transform-origin: 50% 0%;
 margin-top: 4%;

}
.body-a #title div h1{
    transform: translateZ(0.3px) scale(0.8);
    transform-origin: 50% 0%;
    margin-top: 4%;
   
   }

.body-a #slide1 {
    background: #222;
  /*transform: translateZ(-1px) scale(2);*/
  padding:var(--padding-t-25) 0px;
}

.body-a #slide2 {
  background-image: url(https://fm.cnbc.com/applications/cnbc.com/resources/img/editorial/2018/03/15/105067468-Screen-Shot-2018-03-15-at-8.46.23-AM.1910x1000.jpg);
  z-index:2;
  min-height: var(--min-height);
  padding:var(--padding-t-b) 0px;
}
.body-a #slide2 .title{
  min-height: auto;
  float: right;
}
#slide3{
  background-image: url(../img/shot_2.jpg);
 /* transform: translateZ(-1px) scale(2);*/
 padding:var(--padding-t-25) 0px;
}

#slide4 {
  background: #222;
  padding: 0px 10%;
}
.boton {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: bolder;
    color: #fff;
    text-align: center;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    text-shadow: 0px 0px 16px black;
}
.boton span {
     width: 100%;
     position: absolute;
     top:15px;
     left:0;
 }

.boton svg line {
    stroke-width: 6;
    stroke: #fff;
    fill: none;

    -webkit-transition: all 600ms ease-in-out;
    -moz-transition: all 600ms ease-in-out;
    -ms-transition: all 600ms ease-in-out;
    -o-transition: all 600ms ease-in-out;
    transition: all 600ms ease-in-out;
}
.boton:hover svg line {
    stroke: #76ff03;
}
 
.boton:hover svg line.L-T {
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
}
.boton:hover svg line.L-B {
  -webkit-transform: translateY(-50px);
  transform: translateY(-50px);
}
div.boton:hover svg line.R-T {
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
}
.boton:hover svg line.R-B {
  -webkit-transform: translateY(-50px);
  transform: translateY(-50px);
}
.boton:hover svg line.T-L {
  -webkit-transform: translateX(270px);
  transform: translateX(270px);
}
.boton:hover svg line.T-R {
  -webkit-transform: translateX(-270px);
  transform: translateX(-270px);
}
.boton:hover svg line.B-L {
  -webkit-transform: translateX(270px);
  transform: translateX(270px);
}
.boton:hover svg line.B-R {
  -webkit-transform: translateX(-270px);
  transform: translateX(-270px);
}


/*-----------New Css Code-----------*/
#slide4 ul{
list-style: none;
}
#slide4 ul li{
  float: left;
  padding: 5px 15px;
}
#slide4 ul li a{text-decoration: none; color:white;font-size: 16px;}
.clearr{clear: both}

/*----------End Of Code------------*/
@media screen and (min-width: 1180px) {
.container{
  width:1180px;
  margin:0px auto;
}

}

@media screen and (max-width: 600px) {
    .title {
        width: auto !important;
        color:red;
      }
      #slide2 img {
          display: none;
      }
      #slide1.slide,#slide2.slide,#slide3.slide{
        padding: var(--p-10-15);
      }
      .title-y{
        padding: 10px 5px;
        margin:0px;
      }
}
