
* {
margin: 0;
padding: 0;
}
.cCard {
position:relative;
width: 220px;
height: 280px;
background-color: rgb(100,110,110,0.3);
cursor:pointer;
box-shadow: 0px 4px 10px #111;
}
.cCard:hover{
box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.cCard div:nth-child(1) {
overflow: hidden;
height: 50%;
position: relative;
z-index:1;
}
.cCard div:nth-child(1) img {
height: 120%;
position: absolute;
transition: all 0.3s linear;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
opacity: 0.6;
}
.cCard:hover > div:nth-child(1) img{
transform: translate(-50%, -50%) scale(1.06);
opacity: 1;
}
.cCard div:nth-child(2) {
position:relative;
z-index:3;
height: 40%;
margin:auto;
margin-top: -60px;
margin-right: 10px;
width: 80px;
height:80px;
padding: 4px;
border-radius: 50px;
background-color: #76ff03;
}
.cCard div:nth-child(2) img {
width: 100%;
height: 100%;
border-radius: 50px;
}
.cCard div:nth-child(3) {
position:relative;
z-index:1;
padding: 8px;
margin-top: -10%;
}
.cCard div:nth-child(3) h1{
color:#888;
font-size: 38px;
line-height: 60px;
letter-spacing: 5px;
margin-top: -40px;
}
.cCard div:nth-child(3) h2{
color:#76ff03;
padding-left: 4px;
font-size: 20px;
margin-bottom: 4px;
transition: all 0.2s linear;
}
.cCard div:nth-child(3) h3{
color:#999;
padding-left: 4px;
font-size: 18px;
}


.bCard {
width:360px;
height:160px;
background-color: #444;
position:relative;
display:grid;
overflow:hidden;
grid-template-columns: 2fr 1fr;
cursor:pointer;
box-shadow: 0px 4px 10px #111;
}
.bCard:hover{
box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.bCard div:nth-child(1) {
overflow:hidden;

position: relative;
padding: 10px;
}
.bCard div:nth-child(1) img{
position: absolute;
top: 50%;
left: 40%;
transform: translate(-50%,-50%);
z-index:1;
height: 130%;
filter:  brightness(0.4);
}

.bCard div:nth-child(1) h1{
position:relative;
z-index:2;
color:#eee;
opacity: 0.6;
font-size:24px;
}
.bCard div:nth-child(1) h2{
position:relative;
z-index:2;
color: #96ff03;
font-size:18px;
}
.bCard:hover > div:nth-child(1) h2{
opacity: 0.9;
filter: none;
transition: all 0.25s linear;
}
.bCard div:nth-child(2) {
position: relative;
height: 100%;
overflow: hidden
}
.bCard div:nth-child(2) img {
height: 160px;
opacity: 0.6;
}
.bCard:hover > div:nth-child(2) img{
transform:  scale(1.02);
opacity: 1;
transition: all 0.3s linear;
}

/*.gameCard{
background-color: #444;
display: flex;
flex-direction: column;
grid-gap: 10px;
width: 300px;
cursor: pointer;
}*/
.gameCard h1 {
color:#76ff03;
}
.gameCard h2 {
color: #aaa;
}
/*.gameCard div:nth-child(1){ 
    height:60%; 
    width:100%;
    overflow: hidden;
    position: relative;
}*/
.gameCard div img {
opacity: 0.8;

}
.gameCard:hover {
box-shadow: 0px 4px 10px #111;
}
.gameCard:hover > div img {
transform: scale(1.1);
transition: all 0.3s linear;
opacity:1;
}

.priceConsole{font-size:12px; font-weight:normal; color:#bbb;;text-transform: capitalize;font-family: verdana;}

.priceConsole strong{color:white;}
.firstpart{width:60% !important; float:left;}
.secondpart{width:40% !important; float:left;}
.torurmant{
    margin: 0 auto;
    padding: 20px 15px;
    transition: all 0.3s ease-in-out;
    border-bottom: 1px solid #303030;
    text-align: center;
    position: relative;
    background: #21212d;
}
.torurmant .gameitem {
    width: 33.33%;
    float: left;
}
.torurmant .gameitem.vs {
    text-align: center;
}
.torurmant .gameitem.vs h4 {
    font-size: 18px;
    color: #fff;
    font-weight: 600;
    height: 45px;
    width: 45px;
    background: #76ff03;
    border-radius: 50%;
    line-height: 47px;
    margin: 20px auto;
    position: relative;
    z-index: 2;
  }
  .torurmant .gameitem.vs h4:before {
    left: -5px;
    top: -5px;
    bottom: -5px;
    right: -5px;
    border: 5px solid rgba(255, 255, 255, 0.2);
}
 .torurmant .gameitem.vs h4:after {
    left: -10px;
    top: -10px;
    bottom: -10px;
    right: -10px;
    border: 5px solid rgba(255, 255, 255, 0.1);
}
 .torurmant .gameitem img {
    height: 70px;
    width: 70px;
    border-radius: 5px;
}
.clearfix::after {
    display: block;
    clear: both;
    content: "";
}
.torurmantBet{width:100%;padding:0px 20px;}
.torurmantDes{
    background: #1a1c20;
    border-top: 5px solid #76ff03;
    padding: 20px;
}
.torurmantDes h4{
color: #fff;
font-size: 18px;
font-weight: 500;
line-height: 24px;
}
.torurmantDes h5{
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
}
.gameCard{width:100%; overflow: hidden;}
.gameCard .gameitem{
    padding: 0 5px;
}
.gameCard .gameitem img{ 
    width: 100%;
    -ms-transform: skew(-5deg);
    transform: skew(-5deg);
    height: 200px;

}
.gameCard .gamename h1{
    font-size: 20px;
    line-height: 20px;
    font-weight: 700;
    margin-bottom: 0;
    margin-top: 15px;
    color:#76ff03;
}
.gameCard .gamename h2,.gameCard .gamename h4{
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    margin-bottom: 0;
    margin-top: 5px;
    color:white;
}
.gameCardOn {
    background: #1a1c20;
    border-top: 5px solid #73fa02;
    padding: 20px 10px;
  }